:root {
    --main-bg-color: #f5c300;
    --main-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

/* HEADER */
.title {
    text-align: center;
    font-size: 3rem;
}

.content__title {
    margin: 40px 0;
}

.content__body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* NAVIGATION */
.content__sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

.content__navigation {
    width: 90%;
}

.navigation {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.navigation__element {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    background-color: white;
    color: black;
}

.navigation__element:first-child {
    border-radius: 5px 5px 0 0;
}

.navigation__element:last-child {
    border-radius: 0 0 5px 5px;
}

.content__element__active,
.navigation__element:hover {
    background-color: var(--main-bg-color);
    color: white;
    cursor: pointer;
}

/* ITEMS */
.content__information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}

.content__item {
    width: 25%;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.image {
    width: 180px;
    height: 170px;
    border: 10px solid var(--main-bg-color);
    border-radius: 180px;
    background-color: white;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__logo {
    width: 200px;
    margin-bottom: 10px;
}

.item__name {
    width: 234px;
    overflow: hidden;
    margin: 11px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item__additives {
    height: 50px;
    width: 80%;
    padding: 7px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.item__prise {
    text-align: center;
    padding: 10px;
}

.prise {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    color: #d96f51;
}

.button {
    padding: 7px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    color: white;
}

.button:hover {
    cursor: pointer;
}

.item__button {
    margin: 15px 0 50px;
    background-color: var(--main-bg-color);
}

.item__button:hover,
.result__button:hover {
    background-color: #808080;
}

body {
    margin: 0px;
    background-color: #eae8e7;
    font-family: sans-serif;
}

.counter__decrease,
.counter__increase {
    width: 24px;
    height: 24px;
    padding: 0px;
    border: none;

    border-radius: 50%;
}

.counter__input {
    width: 30px;
    height: 20px;
    border: 2px solid #7d8789;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.counter__image {
    width: 24px;
    border-radius: 50%;
    background-color: white;
}

.counter__image:hover,
.counter__input:hover {
    background-color: #eae8e7;
}

.counter__image:hover,
.dialog__exit:hover {
    cursor: pointer;
}

.counter__container {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* BASKET */

.basket__elements {
    background-color: #f6d846;
}

.basket__element {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0px 20px;
    border-top: 2px solid var(--main-bg-color);
}
.content__basket {
    width: 90%;
    margin-top: 40px;
}

.basket__exit {
    position: absolute;
    z-index: 99;
    margin: 5px 45%;
    visibility: hidden;
}

.basket__container:hover .basket__exit {
    visibility: visible;
    cursor: pointer;
}

.basket__container:hover .basket__element {
    outline: 2px solid var(--main-bg-color);
    color: transparent;
    border-radius: 4px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image__basket {
    width: 30px;
}

.basket {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
}

.basket__button {
    background-color: #808080;
}

.basket__button:hover,
.switching-buttons__next-button:hover,
.switching-buttons__previous-button:hover {
    background-color: var(--main-bg-color);
}

.basket__header {
    display: flex;
    padding: 15px;
    border-radius: 5px 5px 0 0;
}

.basket__header img,
.basket__header,
.basket__header {
    background-color: var(--main-bg-color);
}

.basket__logo {
    position: absolute;
    z-index: 100;
    width: 50px;
}

.basket__shadow-logo {
    width: 30px;
    height: 35px;
    transform: matrix(0.9, 1.8, -1, 1, 26, 40);
    background-color: #daa400;
}

.basket__name {
    margin: auto;
    font-size: 2.1rem;
    color: white;
}

.basket__text-container div {
    font-weight: bold;
}

.basket__text-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 15px 10px;
}

.basket__total {
    padding: 0px 10px 20px;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.basket__text-container,
.basket__total,
.basket__total div,
.basket__text-container div {
    background-color: #f6d846;
}

.basket__prise {
    margin: 0 10px;
    padding: 15px 0 20px;
    border-top: 2px solid var(--main-bg-color);
    font-weight: bold;
}

/* DIALOG */

.dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.dialog::-webkit-scrollbar {
    width: 0;
}

.dialog {
    width: 80%;
    height: 72%;
    border: none;
    border-radius: 5px;
    padding: 0px;
}

.dialog__header {
    background-color: var(--main-bg-color);
}

.dialog__title {
    padding: 12px;
    font-size: 2.2rem;
    color: white;
}

.dialog__navigation {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dialog__element {
    flex: 1;
}

.dialog__element:hover,
.dialog__element__active {
    background-color: tomato;
    color: white;
}

.dialog__container {
    display: flex;
    justify-content: center;
}

.dialog__element:first-child {
    border-radius: 5px 0px 0 5px;
}

.dialog__element:last-child {
    border-radius: 0 5px 5px 0;
}

.dialog__elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dialog__size {
    width: 33%;
    margin: 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
}

.switching-buttons__next-button,
.switching-buttons__previous-button {
    background-color: tomato;
}

.dialog__size:hover {
    background-color: var(--main-bg-color);
    box-shadow: var(--main-box-shadow);
    cursor: pointer;
}

.dialog__content {
    background-color: #eae8e7;
}

.dialog__image {
    margin: 30px 0 20px;
}

.dialog__value {
    width: 70%;
    font-size: 1.5rem;
    padding: 0 0 20px;
    border-bottom: 1.5px solid black;
    text-align: center;
}

.dialog__prise {
    margin: 20px 0 20px;
}

.dialog__exit {
    float: right;
    border: 0;
    font-size: 1.2rem;
    padding: 3px;
    background-color: var(--main-bg-color);
}

.dialog__exit-image {
    width: 13px;
}

.itog__prise {
    padding: 30px;
    text-align: center;
    font-size: 1.6rem;
    background-color: white;
}

.dialog__button__none {
    visibility: hidden;
}

.dialog__additive__active {
    background-color: var(--main-bg-color);
    box-shadow: var(--main-box-shadow);
}

/* DIALOG READY(result) */

.result__img-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result__inf-container {
    width: 60%;
}

.result__container {
    display: flex;
    margin-top: 20px;
}

.result__header,
.result__name {
    font-size: 1.7rem;
}

.result__text {
    font-size: 1.3rem;
}

.result__information {
    margin-right: 50px;
    padding: 25px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.result__name {
    margin: 50px 0;
}

.result__counter {
    width: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.result__count-container {
    padding-top: 30px;
    background-color: white;
}

.result__button {
    background-color: var(--main-bg-color);
}

.result__foot-container {
    display: flex;
    margin-top: 10px;
}

.result__prise {
    margin-right: 10px;
}

.switching-buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.dialog__button-container {
    display: flex;
    justify-content: center;
}
